body {
    background-color: black;
}

img {
    width: 30%;
    margin: calc(10%/6);
}

nav {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    width: 30%;
    margin-left: calc(10%/6);
    padding: 1.2em 0;
    color: white

}

section{
    font-family: 'Raleway', sans-serif;
    color: white;
    margin-left: calc(10%/6);
    font-size: 1em;
}

button {
    background: none;
    color: white;
    border: 2px solid;
    font-size: 1em;
    padding: 1em 2em;
    margin-left: calc(10%/6);
    transition: all 0.3s;
}

button:hover{
    border-color: #f1ff5c;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translateY(0.25em);
}

p {
    color: white;
    margin-left: calc(10%/6);
}

.footer{
    font-family: 'Raleway', sans-serif;
    color: white;
    margin-left: calc(10%/6);
}